.item-card {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  min-height: 190px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 7px;
  padding: 21px 28px;
  gap: 14px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.item-card__button-and-name{
  display: flex;
  gap: 14px;
}

.item-card__button-favorite img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.item-card__button-favorite {
  background-color: transparent;
  border: none;
}

.item-card__info {
  display: flex;
  gap: 28px;
  justify-content: space-between;
}

.item-card__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.item-card__name {
  color: var(--fg-secondary-color);
}

.item-card__calories {
  color: var(--fg-secondary-color);
}

.item-card__image {
  width: 96px;
  height: 96px;
}

.item-card__conditional {
  margin-top: auto;
  width: fit-content;
  color: var(--fg-accent-color);
}

.item-card__conditional_healthy_unhealthy {
  color: var(--fg-disaster-color);
  animation: unhealthy 1s linear infinite;
}

@keyframes unhealthy {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 0.8;
  }
}

.item-card__link {
  text-align: center;
}

.item-card__button {
  color: var(--fg-secondary-color);
}
