.text {
  font-family: monospace;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--fg-main-color);
  margin: 0;
}

/* ? weight */
.text_weight_thin {
  font-weight: 300;
}

/* ? color */
.text_color_accent {
  color: var(--fg-accent-color);
}

.text_color_dark {
  color: var(--fg-secondary-color);
}

/* ? size */
.text_size_big {
  font-size: 20px;
}

.text_size_small {
  font-size: 14px;
}

.text_size_smaller {
  font-size: 12px;
}
