.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: var(--header-height) auto var(--footer-height);
}

.app__container {
  padding: 20px 25px;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--max-width);
}
