.add-recipe-form {
  min-height: 260px;
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 21px 28px;
  margin: 28px 28px 42px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.add-recipe-form__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
}

.add-recipe-form__input {
  display: grid;
  grid-template-columns: 2fr 7fr;
  align-items: center;
}

.add-recipe-form button {
  background-color: var(--bg--accent-color);
  color: var(--fg-secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-recipe-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

